<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>103731987395-pc6dvpq1556milq6f6o00spqnlpfvjoc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.103731987395-pc6dvpq1556milq6f6o00spqnlpfvjoc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>103731987395-mjkqfmrg48rpufv5m9em3hivoaqlb82s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBuTxHtICFzCY8dE0l2G1Ec7ltXx148ZJY</string>
	<key>GCM_SENDER_ID</key>
	<string>103731987395</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nikitagordeev10.museumguide</string>
	<key>PROJECT_ID</key>
	<string>museumguide-fde28</string>
	<key>STORAGE_BUCKET</key>
	<string>museumguide-fde28.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:103731987395:ios:1f52bbca155d319cb17376</string>
</dict>
</plist>